## <font color= #f7cac9>Capítulo 4 - Exercícios</font>

### <font color=	#b4c8ea> Exercícios </fonte>

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

num = [1,2,3,4,5,6,7,7,9,10]

print(num)

[1, 2, 3, 4, 5, 6, 7, 7, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista = ['morango', 'abacate', 'banana', 'melancia', 'jaca']

print(lista)

['morango', 'abacate', 'banana', 'melancia', 'jaca']

In [3]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

a = 'tes'
b = 'te'
c = a + b

print(c)

teste

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tup = (1, 2, 2, 3, 4, 4, 4, 5)

tup.count(4)

3

In [7]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dici = {}
print(dici)

{}

In [8]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dici1 = {'a':1, 'b':2, 'c':3}

print(dici1)

{'a': 1, 'b': 2, 'c': 3}

In [9]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dici2 = {'d':4}
dici1.update(dici2)
print(dici1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dc = {'a':[9,99,999], 'b':25, 'c':26}
print(dc)

{'a': [9, 99, 999], 'b': 25, 'c': 26}

In [11]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

lista = ['teste', (99, 25), {'abacate':32, 'banana':9}, 25,6]
print(lista)

['teste', (99, 25), {'abacate': 32, 'banana': 9}, 25, 6]

In [14]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[:18]

'Cientista de Dados'