## Capítulo 4 - Tuplas

### Trabalhando com Tuplas

In [3]:
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [4]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [5]:
# Tupla não pode modificar, se quiser modificar pode mudar apara lista e depois voltar para tupla
tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
# Não dá para excluir
del tupla1['Elefantes']

TypeError: 'tuple' object does not support item deletion

In [7]:
# pode ter um item só
tupla1 = ('Chocolate')

In [9]:
tupla1

'Chocolate'

In [10]:
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [11]:
tupla1[0]

'Geografia'

In [12]:
len(tupla1)

5

In [13]:
# Slicing
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [14]:
tupla1.index('Elefantes')

2

In [15]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [16]:
del tupla1

In [17]:
tupla1

NameError: name 'tupla1' is not defined

In [18]:
t2 = ('A', 'B', 'C')

In [19]:
t2

('A', 'B', 'C')

In [20]:
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [21]:
# Usa a função list para converter para lista
lista_t2 = list(t2)

In [22]:
lista_t2

['A', 'B', 'C']

In [23]:
lista_t2.append('D')

In [24]:
# Usa a função tuple para voltar para tupla
t2 = tuple(lista_t2)

In [25]:
t2

('A', 'B', 'C', 'D')